[submodule "external/small_IPC_QLocalServer"]
	path = external/small_IPC_QLocalServer
	url = https://github.com/morteza730/small_IPC_QLocalServer.git
[submodule "external/pattern_info_parser"]
	path = external/pattern_info_parser
	url = https://github.com/morteza730/pattern_info_parser.git
